
@inherits LFDropDownSingleChoiceBase
<div class="DropDownContainer ">
    <span class="container container--default container--below" style="width: 100%;">
        <span class="selection d-flex" style="width: 100%;">
            <div class='selection selection--multiple @(Disable ?"disabled":"")' style="width: 100%;display:flex;flex-direction:row;position:relative">
                @if (SelectedRecords is { Count: > 0 })
                {
                    <span>@SelectedRecords.FirstOrDefault().Content</span>
                }
                <span @onclick="Toggle" @onclick:stopPropagation="true" class="search search--inline" style="display: inline;width: auto;flex: auto;">
                    <input disabled=@(Disable) @bind-value ="inputText" @oninput ="(e)=> inputText = e.Value.ToString()" type="text" class="search__field m-0" style="width: 100%;height: 100%;" />
                </span>

                <div class="arrow_circle ">
                    <div class="arrow"></div>
                </div>
            </div>
            <span class='DropDownDataList  dropdown dropdown--above @(Show ? "d-block":"d-none")' dir="ltr">
                <span class="results">
                    <ul class="results__options" role="listbox" aria-multiselectable="true" id="e3sq-results" aria-expanded="true" aria-hidden="false">
                        @foreach (var record in FilteredRecords)
                        {
                            <li class="results__option results__option--selectable results__option--highlighted" id="e3sq-result-zcr5-orange" role="option" @onclick="()=>SelectOption(record.Key,true)" aria-selected="true">@record.Content</li>

                        }
                    </ul>
                </span>
            </span>
        </span>
    </span>
</div>